@{
    ViewData["Title"] = "Privacy Policy";

    System.Security.Claims.ClaimsIdentity userClaims = @Model;
    var UserId = userClaims.FindFirst("sub")?.Value;
    var UserName = userClaims.FindFirst("name")?.Value;
}

<h2>Hello @UserName (@UserId)</h2>
<img src="@(userClaims.FindFirst("picture")?.Value)">


<h2>Claims</h2>

<dl>
    @foreach (var claim in userClaims.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

@*<h2>Properties</h2>

    <dl>
    @{
    var items = (await Context.AuthenticateAsync()).Properties?.Items;
    }
    @if (items != null) foreach (var prop in items)
    {
    <dt>@prop.Key</dt>
    <dd>@prop.Value</dd>
    }
    </dl>*@